body {
	text-align: center;
	background-color: #1d3557;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color: #fff;
	margin-bottom: 20px;
}
#download {
	background-color: #219ebc;
	color: #fff;
	border: 1px solid #219ebc;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.imageContainer {
	text-align: center;
	height: 200px;
}
#imageDance {
	object-fit: cover;
	height: 100%;
}
div#error p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}